doctype html
html
  head
    title Express HTML
    link(rel='stylesheet', type='text/css', href='node_modules/bootstrap/dist/css/bootstrap.css')
  body
   script(src='http://localhost:8080/webpack-dev-server.js')
  #menu

    script(type='text/javascript', src='build/bundle.js', charset='utf-8')
   
